@inherits LayoutComponentBase

<div class="page" style="width:100%; height:100%">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <div class="main" style="width:100%;height:100%;">
        @*<div class="top-row px-4" >
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <div class="content px-4" style="width:100%; height:100%">
            @Body
        </div>
    </div>
</div>
